* {
    padding: 0;
    box-sizing: border-box;
}

form {
    margin: 20% 50%  50%;
}

fieldset {
    padding: 10px;
}

input{
    display: inline-block;
}

#male {
    display: inline-block;
}

/* #dob {
    display: block;
} */